/* auth template */
#auth * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#auth {
  width: 100%;
}
#auth .container {
  width: 100%;
  max-width: 1200px;
  min-height: 80vh;
  padding: 15px;
  margin: 0 auto;
  align-items: center;
  gap: 100px;
}
#auth .auth-banner-container {
  align-items: center;
  justify-content: center;
}
#auth .auth-banner {
  width: 100%;
  max-width: 500px;
}
#auth .auth-form {
  background-color: #fff;
  border: var(--border);
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#auth .error {
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: crimson;
}
#auth .error strong {
  text-decoration: underline;
}
#auth .success {
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: green;
}
#auth .auth-form .heading {
  color: var(--dark-text-color);
  text-align: center;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 32px;
  margin: 0;
}
#auth .auth-form .sub-heading {
  text-align: center;
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 14px;
  margin-top: -10px;
}
#auth .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
#auth .form-group label {
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 14px;
}
#auth .form-group .required {
  color: crimson;
}
#auth .form-group input {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
  padding: 10px 15px;
  outline: none;
  border: var(--border);
  border-radius: 5px;
}
#auth .form-group input:focus {
  border-color: var(--accent-color);
  background-color: #eef8ff;
}
#auth .form-group .toggle-password {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
}
#auth .button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
#auth .action-button {
  width: 100%;
  max-width: 200px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: ease 0.3s;
}
#auth .action-button:hover {
  background-color: var(--primary-color);
}
#auth .links,
#auth .links a {
  color: var(--text-color);
  text-align: center;
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
  transition: ease 0.3s;
}
#auth .links a {
  font-weight: 500;
  color: var(--primary-color);
}
#auth .links a:hover {
  color: var(--accent-color);
}
@media screen and (max-width: 1120px) {
  #auth .container {
    gap: 50px;
  }
  #auth .auth-form-container {
    flex: 1.5;
  }
}
@media screen and (max-width: 767px) {
  #auth .auth-banner-container {
    display: none;
  }
}
