/* WP Job Opening Plugin Template Styles */
.awsm-filter-wrap .awsm-filter-item-search input {
  color: #050315;
  font-family: "Inter", sans-serif;
  padding: 1px 48px 1px 10px;
  border: solid 1px #d2e4ef;
  border-radius: 5px;
  outline: none;
}
.awsm-filter-wrap .awsm-filter-item-search input:hover,
.awsm-filter-wrap .awsm-filter-item-search input:active {
  border: solid 1px #2d88b5;
}
.awsm-filter-wrap .awsm-filter-items .awsm-selectric .label {
  font-family: "Inter", sans-serif;
}
.awsm-filter-wrap .awsm-selectric {
  border: solid 1px #d2e4ef;
  border-radius: 5px;
  color: #050315;
}

.awsm-job-listings .awsm-job-listing-item .awsm-job-item {
  border: solid 2px #2d88b536;
  border-radius: 10px;
  padding: 0;
}
.awsm-job-listings .awsm-job-listing-item .awsm-job-item:hover {
  box-shadow: 0px 0px 0px 7px
    rgba(44.999999999999986, 136.00000000000017, 181, 0.21176470588235294);
}
.awsm-job-listings
  .awsm-job-listing-item
  .awsm-job-item
  .awsm-job-featured-image
  img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.awsm-job-listings .awsm-job-listing-item .awsm-job-item .awsm-job-post-title {
  font-family: "Outfit", sans-serif;
  color: #050315;
  font-weight: 600;
  font-size: 18px;
  padding: 0 20px;
}
.awsm-job-listings
  .awsm-job-listing-item
  .awsm-job-item
  .awsm-job-specification-wrapper {
  font-family: "Inter", sans-serif;
}
.awsm-job-listings .awsm-job-listing-item .awsm-job-item .awsm-job-more {
  font-family: "Inter", sans-serif;
  color: #2d88b5;
}

.awsm-job-listings .awsm-grid-right-col {
  padding: 0 20px 20px 20px;
}

/* Custom Job Listing Component Style */
.job-filter-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.job-filter-form input,
.job-filter-form select {
  width: 100%;
  max-width: 150px;
  padding: 7px 10px;
  border: var(--border);
  border-radius: 5px;
  font-family: "Outfit", serif;
  outline: none;
}
.job-filter-form input:hover,
.job-filter-form input:active,
.job-filter-form select:hover,
.job-filter-form select:active {
  border-color: var(--primary-color);
}
.job-filter-form .clear-filter-button {
  padding: 7px 10px;
  background-color: rgb(240, 194, 203);
  color: var(--dark-text-color);
  border: var(--border);
  border-radius: 5px;
  font-family: "Outfit", serif;
  font-weight: 500;
}

.job-listings {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.job-listing {
  width: 100%;
  max-width: 385px;
  background-color: #fff;
  border: var(--border);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 15px;
}
.job-listing .job-thumbnail img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.job-listing h3 {
  margin: 10px 0;
  margin-bottom: 15px;
}
.job-listing h3 a {
  display: inline-block;
  padding: 0 20px;
  font-family: "Outfit", serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-text-color);
}
.job-listing .skills {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}
.job-listing .skill {
  padding: 5px 10px;
  background-color: #2d88b538;
  border-radius: 3px;
  font-family: "Outfit", serif;
  font-weight: 400;
  font-size: 14px;
}
.job-listing p {
  padding: 0 20px;
  font-family: "Outfit", serif;
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination .page-numbers {
  font-family: "Outfit", serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-text-color);
}
.pagination .page-numbers.current,
.pagination .page-numbers:hover {
  color: var(--accent-color);
}
