.featured-candidates {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.candidate-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(33.33% - 14px);
  min-width: 300px;
  background-color: #fff;
  border: var(--border);
  border-radius: 15px;
  padding: 20px 25px;
  overflow: hidden;
}
.candidate-card .col:last-of-type {
  flex: 1.5;
  justify-content: flex-start;
}
.candidate-card .avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: var(--border);
  overflow: hidden;
  background-color: #e7eef7;
}
.candidate-card .avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -12px;
}
.candidate-card h4,
.candidate-card p {
  margin: 0;
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
}
.candidate-card .name {
  color: var(--dark-text-color);
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.candidate-card .specialization {
  color: var(--primary-color);
  font-size: 16px;
}
.candidate-card .flags {
  display: flex;
  gap: 5px;
}
.candidate-card .body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.candidate-card .tools {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.candidate-card .tool {
  background-color: #e7eef7;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  border: var(--border);
  border-radius: 3px;
}
.candidate-card .bio {
  height: 36px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 1024px) {
  .candidate-card .avatar-container {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 649px) {
  .candidate-card {
    width: 100%;
    max-width: 415px;
  }
  .candidate-card .avatar-container {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 425px) {
  .candidate-card .avatar-container {
    width: 100px;
    height: 100px;
  }
}
