/**
 * File Name: Find Match
 * 
 * A css file for theme find match.
 */

#findMatch {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#findMatch .container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: var(--border);
  border-radius: 10px;
  padding: 20px 25px;
  display: none;
  flex-direction: column;
  gap: 15px;
}
#findMatch .container.active {
  display: flex;
}
#findMatch .container.loading-container,
#findMatch .container.match-container {
  max-width: 100%;
  border: none;
  padding: none;
  background-color: transparent;
}
#findMatch .heading {
  color: var(--dark-text-color);
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  margin: 0;
}
#findMatch .sub-heading {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}
#findMatch .options {
  width: 100%;
  height: 380px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#findMatch .option {
  display: flex;
  align-items: center;
  gap: 10px;
  border: var(--border);
  border-radius: 5px;
  padding: 10px 15px;
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  transition: ease 0.3s;
}
#findMatch .option:hover,
#findMatch .option:active,
#findMatch .option:focus,
#findMatch .option.selected {
  background-color: #eef8ff;
  border-color: var(--accent-color);
}
#findMatch .button {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  outline: none;
  border: var(--border);
  border-radius: 5px;
  border-color: var(--accent-color);
  background-color: #fff;
  color: var(--accent-color);
  cursor: pointer;
  transition: ease 0.3s;
}
#findMatch .back-button:hover,
#findMatch .back-button:active,
#findMatch .back-button:focus,
#findMatch .next-button {
  background-color: var(--accent-color);
  color: #fff;
}
#findMatch .next-button:hover,
#findMatch .next-button:active,
#findMatch .next-button:focus {
  background-color: var(--primary-color);
}
#findMatch .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#findMatch .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#findMatch .consent-group {
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
}
#findMatch .form-group label {
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--dark-text-color);
}
#findMatch .form-group .required {
  color: crimson;
  font-weight: 500;
}
#findMatch .consent-group label {
  color: var(--text-color);
}
#findMatch .form-group input,
#findMatch .form-group select,
#findMatch .form-group textarea {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--dark-text-color);
  padding: 10px;
  outline: none;
  border: var(--border);
  border-radius: 5px;
}
#findMatch .form-group textarea {
  resize: vertical;
  min-height: 100px;
}
#findMatch .form-group select {
  cursor: pointer;
}
#findMatch .form-group input[type="checkbox"] {
  accent-color: var(--accent-color);
}
#findMatch .form-group input:focus,
#findMatch .form-group select:focus,
#findMatch .form-group textarea:focus {
  border-color: var(--accent-color);
  background-color: #eef8ff;
}
#findMatch .button-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
#findMatch .button-group .button {
  flex: 1;
}
#findMatch .button-group .button:hover {
  color: #fff;
  background-color: var(--accent-color);
}
#findMatch .button-group .button.find-button,
#findMatch .contact-form-container .submit-button {
  color: #fff;
  background-color: var(--accent-color);
}
#findMatch .button-group .button.find-button:hover,
#findMatch .contact-form-container .submit-button:hover {
  background-color: var(--primary-color);
}
#findMatch .match-cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#findMatch .match-cards .no-match {
  width: 100%;
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
#findMatch .match-cards .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(33.33% - 14px);
  background-color: #fff;
  border: var(--border);
  border-radius: 15px;
  padding: 20px 25px;
}
#findMatch .match-cards .card .col:last-of-type {
  flex: 1.5;
  justify-content: center;
}
#findMatch .match-cards .card .avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: var(--border);
}
#findMatch .match-cards .card .avatar {
  font-size: 48px;
}
#findMatch .match-cards .card h4,
#findMatch .match-cards .card p {
  margin: 0;
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
}
#findMatch .match-cards .card .name {
  color: var(--dark-text-color);
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#findMatch .match-cards .card .specialization {
  color: var(--primary-color);
  font-size: 16px;
}
#findMatch .match-cards .card .flags {
  display: flex;
  gap: 5px;
}
#findMatch .match-cards .card .body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#findMatch .match-cards .card .tools {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
#findMatch .match-cards .card .tool {
  background-color: #e7eef7;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  border: var(--border);
  border-radius: 3px;
}
#findMatch .match-cards .card .bio {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#findMatch .match-cards .card .button {
  width: 100%;
  background-color: var(--accent-color);
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}
#findMatch .match-cards .card .button:hover {
  background-color: var(--primary-color);
}
#findMatch .contact-form-container .loader-message p,
#findMatch .contact-form-container .confirmation-message p {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
