.awsm-filter-wrap .awsm-filter-item-search input {
  color: #050315;
  font-family: "Inter", sans-serif;
  padding: 1px 48px 1px 10px;
  border: solid 1px #d2e4ef;
  border-radius: 5px;
  outline: none;
}
.awsm-filter-wrap .awsm-filter-item-search input:hover,
.awsm-filter-wrap .awsm-filter-item-search input:active {
  border: solid 1px #2d88b5;
}
.awsm-filter-wrap .awsm-filter-items .awsm-selectric .label {
  font-family: "Inter", sans-serif;
}
.awsm-filter-wrap .awsm-selectric {
  border: solid 1px #d2e4ef;
  border-radius: 5px;
  color: #050315;
}

.awsm-job-listings .awsm-job-listing-item .awsm-job-item {
  border: solid 2px #2d88b536;
  border-radius: 10px;
  padding: 0;
}
.awsm-job-listings .awsm-job-listing-item .awsm-job-item:hover {
  box-shadow: 0px 0px 0px 7px
    rgba(44.999999999999986, 136.00000000000017, 181, 0.21176470588235294);
}
.awsm-job-listings
  .awsm-job-listing-item
  .awsm-job-item
  .awsm-job-featured-image
  img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.awsm-job-listings .awsm-job-listing-item .awsm-job-item .awsm-job-post-title {
  font-family: "Outfit", sans-serif;
  color: #050315;
  font-weight: 600;
  font-size: 18px;
  padding: 0 20px;
}
.awsm-job-listings
  .awsm-job-listing-item
  .awsm-job-item
  .awsm-job-specification-wrapper {
  font-family: "Inter", sans-serif;
}
.awsm-job-listings .awsm-job-listing-item .awsm-job-item .awsm-job-more {
  font-family: "Inter", sans-serif;
  color: #2d88b5;
}

.awsm-job-listings .awsm-grid-right-col {
  padding: 0 20px 20px 20px;
}
